.container {
  max-width: 1220px;
  width: 100%;
  margin: 0 auto;
}

h2 {
  font-size: 40px;
  line-height: 48px;
  font-weight: 700;
  color: #37393f;
  font-family: "Poppins", sans-serif;
}

h4 {
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  color: #37393f;
  font-family: "Inter", sans-serif;
}

/* Header */
.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #ffffff;
  z-index: 1000;
}

.header_wrapper {
  margin-top: 53px;
  margin-bottom: 53px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation {
  display: flex;
  align-items: center;
}

.navigation nav {
  width: 601px;
}

.navigation nav ul {
  display: flex;
  justify-content: space-between;
}

.navigation nav ul li a {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  line-height: 22px;
  color: #37393f;
  transition: color 0.5s ease;
}

.navigation nav ul li a:hover {
  color: #6b77e5;
}

.navigation nav ul li img {
  margin-left: 10px;
  margin-top: -10px;
}

.consulting {
  width: auto;
  height: 65px;
  background-color: #6b77e5;
  padding: 21px 35px 22px 35px;
  margin-left: 40px;
  cursor: pointer;
  transition: background-color 0.5s ease;
}

.consulting:hover {
  background-color: #37393f;
}

.consulting a {
  color: #ffffff;
  font-size: 18px;
  line-height: 21.87px;
  font-weight: 600;
  font-family: "Cabin", sans-serif;
}

/* Work Proccess Section */
.work_proccess {
  margin: 307px 0 60px 0;
}

.work_proccess_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.work_proccess_wrapper h2 {
  margin-top: 16px;
}

.work_proccess_blocks {
  width: 100%;
  margin-top: 41px;
  display: flex;
  justify-content: space-between;
}

.work_proccess_block {
  width: 386px;
  height: auto;
  background-color: #f4f4f4;
  padding: 58px 43px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.work_proccess_block h3 {
  font-size: 25px;
  line-height: 32px;
  font-weight: 600;
  color: #37393f;
  font-family: "Poppins", sans-serif;
}

.work_proccess_block p {
  margin-top: 16px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  color: #7d7d7d;
  font-family: "Inter", sans-serif;
}

.work_proccess_block a {
  margin-top: 37px;
  font-size: 18px;
  line-height: 22px;
  font-weight: 600;
  color: #6b77e5;
  margin-bottom: 10px;
  transition: color 0.5s ease;
  font-family: "Inter", sans-serif;
}

.work_proccess_block a:hover {
  color: #37393f;
}

/* Video Section */
.presentation_video_wrapper {
  position: relative;
}

.presentation_video {
  height: 557px;
  background-image: url("/images/video_bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.presentation_video_content {
  width: 511px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.presentation_video_content h2 {
  margin-top: 16px;
}

.presentation_video_content p {
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  color: #37393f;
  font-family: "Inter", sans-serif;
  width: 511px;
  margin: 21px 0 47px 0;
}

.presentation_video_content img {
  cursor: pointer;
}

/* Team Members Section */
.team_members_wrapper {
  margin-top: 130px;
  margin-bottom: 131px;
  text-align: center;
}

.team_members_wrapper h2 {
  margin: 16px 0 41px 0;
}

.team_members_blocks {
  display: flex;
  justify-content: space-between;
}

.team_members_block {
  width: 386px;
  height: 532px;
  position: relative;
}

.team_members_block:nth-child(1) .team_members_block_img {
  background-image: url("/images/team_members_img1.jpg");
}

.team_members_block:nth-child(2) .team_members_block_img {
  background-image: url("/images/team_members_img2.jpg");
}

.team_members_block:nth-child(3) .team_members_block_img {
  background-image: url("/images/team_members_img3.jpg");
}

.team_members_block_img {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.team_members_block_content {
  width: 341px;
  height: 114px;
  background-color: #ffffff;
  padding: 24px 69px;
  position: absolute;
  top: 396px;
  left: 22px;
}

.team_members_block_content h5 {
  font-size: 25px;
  font-weight: 600;
  line-height: 37.5px;
  font-family: "Poppins", sans-serif;
  color: #37393f;
}

.team_members_block_content p {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  font-family: "Inter", sans-serif;
  color: #7d7d7d;
}
